# .env.example

# Configuración para el entorno de desarrollo
DB_NAME_LOCAL=db                # Nombre de la base de datos en desarrollo
DB_USER_LOCAL=user              # Usuario de la base de datos en desarrollo
DB_PASSWORD_LOCAL=secret_pass   # Contraseña de la base de datos en desarrollo
DB_HOST_LOCAL=localhost         # Host de la base de datos en desarrollo

# Configuración para el entorno de producción
DB_NAME_PROD=db                 # Nombre de la base de datos en producción
DB_USER_PROD=user               # Usuario de la base de datos en producción
DB_PASSWORD_PROD=secret_pass    # Contraseña de la base de datos en producción
DB_HOST_PROD=localhost          # Host de la base de datos en producción

# Configuraciones para el entorno de desarrollo
AUTH_KEY=           
SECURE_AUTH_KEY=    
LOGGED_IN_KEY=      
NONCE_KEY=          
AUTH_SALT=          
SECURE_AUTH_SALT=   
LOGGED_IN_SALT=     
NONCE_SALT=         